html {
  height: 100%;
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  height: 100%;
  background-color: hsl(180, 52%, 96%);
}

h1 {
  font-weight: 700;
  color: hsl(180, 14%, 20%);
  font-size: 1.1rem;
  margin: 3% 0;
  cursor: pointer;
}

h1:hover {
  color: hsl(180, 29%, 50%);
}

h2 {
  display: inline-block;
  font-weight: 700;
  color: hsl(180, 29%, 50%);
  font-size: 0.8rem;
  margin-right: 4%;
}

p {
  color: hsl(180, 8%, 52%);
  font-size: 0.8rem;
}

a {
  font-weight: 700;
  color: hsl(180, 8%, 52%);
  font-size: 0.8rem;
}

a:hover {
  font-weight: 700;
  color: hsl(180, 29%, 50%);
  font-size: 0.8rem;
  text-decoration: underline;
}

img {
  width: 100%;
}

hr {
  margin-bottom: 2%;
  border: 0.5px solid hsl(180, 8%, 72%);
  display: none;
}

/* Main Body */
.upper {
  background-color: hsl(180, 29%, 50%);
  background-image: url("images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  height: 15%;
}

.filter {
  display: none;
  /*block*/
  position: absolute;
  left: 10%;
  width: 80%;
}

.filter-container {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 15px 30px -20px hsl(180, 29%, 50%);
  position: relative;
  left: 0;
  bottom: 45px;
  padding: 1% 2.5%;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr;
}

.filter-stickers-panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
}

.filter-clear {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rest {
  padding-top: 70px;
}

/* Filter Stickers */
.filter-sticker {
  display: none;
  /*inline-flex*/
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 28px;
  margin: 1.5% 4% 1.5% 0;
  /*review*/
  border-radius: 5px;
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  font-size: 0.8rem;
  padding: 17px 8px;
}

.filter-sticker:hover {
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 31%, 95%);
}

.filter-sticker-rem {
  display: none;
  /*inline-grid*/
  align-items: center;
  text-align: center;
  grid-template-columns: auto auto;
  grid-template-rows: 34px;
  margin: 1.5%;
  padding: 0;
}

.filter-box {
  display: inline-flex;
  align-items: center;
  /* cursor: pointer; */
  height: 34px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0 8px;
}

.rem {
  cursor: pointer;
  height: 34px;
  width: 34px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: url("images/icon-remove.svg");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  background-color: hsl(180, 29%, 50%);
  /* color: hsl(180, 31%, 95%); */
}

.rem:hover {
  background-color: hsl(180, 14%, 20%);
}

.new, .featured {
  display: none;
  /*inline-flex*/
  align-items: center;
  text-align: center;
  height: 25px;
  margin: 1% 0.5%;
  /*review*/
  border-radius: 25px;
  color: hsl(180, 31%, 95%);
  font-weight: 700;
  font-size: 0.6rem;
  padding: 2px 8px;
}

.new {
  background-color: hsl(180, 29%, 50%);
}

.featured {
  background-color: hsl(180, 14%, 20%);
}

/* Job Card */
.job-card {
  margin: 2% 10%;
  padding: 2.5%;
  background-color: white;
  border-radius: 7px;
  display: none;
  /* grid */
  grid-template-columns: 0.25fr 0.75fr 1fr;
  grid-auto-rows: 100%;
  box-shadow: 0 15px 30px -20px hsl(180, 29%, 50%);
}

.job-desc {
  text-align: left;
}

.job-stickers {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  flex-wrap: wrap;
}

.job-featured {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.job-img {
  position: relative;
  padding-right: 15%;
}

/* Tablet and Mobile */
@media screen and (max-width: 900px) {
  .job-card {
    margin: 15% 10%;
    padding: 5%;
    grid-template-columns: 100%;
    grid-auto-rows: 0.1fr 4fr 4fr;
  }

  img {
    width: 20%;
    position: absolute;
    bottom: 100%;

  }

  hr {
    display: block;
  }

  .job-img {
    padding-right: 0;
  }

  .job-stickers {

    align-items:  flex-start;
    justify-content: flex-start;
    /* text-align: right; */

  }

  .filter-container {
    padding: 5%;
  }

  .rest {
    padding-top: 10%;
  }
}
